/* Theme switch */

body, nav, svg, .post, .write-a-post, .notification-list a {
    transition: background 0.4s ease-out;
}

p, span, a, input, textarea {
    transition: color 0.4s ease-in-out;
}

input {
    transition: opacity 0.15s ease-in-out;
}

/* Slide */

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(35px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.movie-list, .new-comment {
    animation: slide-up 0.5s ease-out;
}

.movie-header .movie-list {
    animation: none;
}