@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(35px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.movie-list, .new-comment {
    animation: slide-up 0.5s ease-out;
}

.movie-header .movie-list {
    animation: none;
}