@media only screen and (min-width: 768px) {
    body {
        display: flex;
        margin: var(--base-spacing) 48px;
    }

    .col-left {
        width: 50%;
        margin-right: 48px;
    }

    .col-right section:first-child {
        margin-top: 0;
    }

    /* header containing action */
    header:has(a) {
        justify-content: left;
    }

    /* h1 followed by action */
    header h1:has(+ a) {
        margin-right: var(--base-spacing);
    }

    .movie-list {
        width: auto;
        margin: auto;
        overflow-x: hidden;
        white-space: normal;
    }

    .movie-list>li:first-child {
        margin-left: auto;
    }
}