svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.watched svg {
    background-color: var(--confirm);
    mask-image: url('../svg/tick.svg');
    -webkit-mask-image: url('../svg/tick.svg');
}

.unwatched svg, .watchlist-add svg {
    background-color: var(--text);
    mask-image: url('../svg/add.svg');
    -webkit-mask-image: url('../svg/add.svg');
}

.watchlist-add svg {
    margin-right: 8px;
}

nav svg {
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: var(--text);
}

nav .home-icon {
    mask-image: url('../svg/home.svg');
    -webkit-mask-image: url('../svg/home.svg');
}

nav .search-icon {
    mask-image: url('../svg/search.svg');
    -webkit-mask-image: url('../svg/search.svg');
}

nav .profile-icon {
    mask-image: url('../svg/profile.svg');
    -webkit-mask-image: url('../svg/profile.svg');
}

nav .bell-icon {
    mask-image: url('../svg/bell.svg');
    -webkit-mask-image: url('../svg/bell.svg');
}
