:root {
    --error: #FF5E5E;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 40px;
    margin-top: 3%;
}

header > h1 {
    text-align: center;
    margin-bottom: 16px;
}

header > p {
    margin: 0;
}

form > ul > li > label{
    display: flex;
}

form > ul {
    margin: 0;
    width: 100%;
}

form > ul > li:not(:last-child) {
    padding-top: 8px;
}

form > ul > li {
    margin-bottom: 12px;
}

form > ul > li:last-child {
    margin-top: 40px;
}

form > ul > li > input, section > ul > li {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

form > ul > li > input {
    font-family: "Rubik", "Arial", sans-serif;
    color: var(--text);
    background-color: var(--overlay2);
    border: none;
}

form > ul > li:not(:last-child) > input{
    margin-top: 8px;
}

input[type=submit] {
    cursor: pointer;
    font-weight: bold;
}

::placeholder {
    color: var(--text);
    opacity: 0.5;
}

p {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
}

section > ul > li {
    text-align: center;
}

form > ul > li:last-child > input, section > ul > li {
    color: var(--text);
    background-color: var(--primary);
}

a {
    color: var(--text);
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.wrong {
    border: 2px solid var(--error);
}

.error {
    margin-bottom: 12px;
}

#wrongCredential {
    color: var(--error);
    margin-top: 50px;
}
