/* Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

:root {
    --bg: #2A2734;
    --primary: #F98066;
    --primary-bg: rgba(249, 128, 102, 0.15);
    --overlay1: #403B4F;
    --overlay2: #5D5774;
    --confirm: #4BF5A4;
    --confirm-bg: rgba(44, 150, 99, 0.15);
    --text: #FFFBF7;
    --base-spacing: 16px;
}

body {
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 12px;
    padding: 0;
    margin: var(--base-spacing);
    overflow-x: hidden;
    
    color: var(--text);
    background-color: var(--bg);
}

h1, h2, h3, h4 {
    line-height: normal;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

section {
    margin-top: calc(var(--base-spacing) * 2);
}

strong, header a {
    font-weight: 600 /* semibold */;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

header h1 {
    margin: var(--base-spacing) 0;
}

header a, nav a {
    color: var(--text);
}

/* Navbar */

nav {
    width: 100%;
    padding: 12px 0;
    background-color: var(--overlay1);
    border-radius: 8px 8px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid var(--overlay2);
    font-size: 0.9em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0 25%;
}

nav a:not(:hover) {
    text-decoration: none;
}

/* Profile */

/* header containing action */
header:has(a) {
    display: flex;
    justify-content: space-between;
}

/* h1 followed by action */
header h1:has(+ a) {
    float: left;
    display: inline;
}

/* action preceeded by h1 */
header h1 + a {
    margin: var(--base-spacing);
    float: right;
}

header .follow, header .following {
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 12px;
}

header .follow {
    background-color: var(--primary);
}

header .following {
    background-color: var(--overlay1);
}

header .edit {
    padding-top: 6px;
    font-weight: normal;
    opacity: .6;
}

.bio p {
    display: inline-block;
    margin-bottom: var(--base-spacing);
    margin-top: 0;
    margin-right: var(--base-spacing);
    line-height: 1.4;
}

/* Bio text */
.bio p:first-child {
    display: block;
}

/* Movies */

.movie-list {
    overflow-x: auto;
    white-space: nowrap;
    /* Remove side spacing when scrolling */
    margin-left: calc(-1 * var(--base-spacing));
    width: calc(100% + var(--base-spacing) * 2);
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.movie-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.movie-list > li {
    display: inline-block;
    width: 100px;
    margin-right: var(--base-spacing);
}

.movie-list > li:first-child {
    margin-left: var(--base-spacing);
}

.movie-list > li > div {
    height: 148px;
    background-color: #C6BAEC;
    border-radius: 16px;
/*     background-image: url('https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg');
    background-size: cover; */
}

.movie-list > li > p {
    text-align: center;
    font-size: 0.85em;
}

/* Notifications */

.notification-list {
    width: 100%;
    margin-top: calc(var(--base-spacing) * 2);
}

.notification-list li {
    background-color: var(--overlay1);
    padding: var(--base-spacing);
    margin-bottom: var(--base-spacing);
    border-radius: 16px;
}

.notification-list a {
    text-decoration: none;
    color: var(--text);
}